<%= form_for [@product,@sample] do |f| %>
  <% if @sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sample.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul>
      <% @sample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class='field'>
    <%= f.label :additive_id %></br>
    <%= collection_select :sample, :additive_id, Additive.all, :id,:name,promt: false %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount , min: 0 %>
  </div>
  <div class="field">
    <%= f.label :temperature %><br>
     <%= f.number_field :temperature , min: 0 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
