<%= form_for [@product,@sample] do |f| %>
<th>
 <div class='field'>
    <%= f.label :additive_id %></br>
    <%= collection_select :sample, :additive_id, Additive.all, :id,:name,promt: false %>
  </div>
</th>
<th>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount , min: 0 %>
  </div>
</th>
<th>
<div class="field">
    <%= f.label :temperature %><br>
     <%= f.number_field :temperature , min: 0 %>
</div>
</th>
<th colspan="2">
<div class="actions">
    <%= f.submit "Dodaj" %>
</div>
</th>
<% end %>
