
<h1><%= @product.name %> próbki</h1>

<table class="table">
  <thead>
    <tr>
      <th>Dodatek</th>
      <th>Ilość</th>
      <th>Temperatura</th>

    </tr>
  </thead>

  <tbody>
    <% @samples.each do |sample| %>
      <tr>
        <td><%= sample.additive.try(:name) %></td>
        <td><%= sample.amount %></td>
        <td><%= sample.temperature %></td>
        <td><%= link_to 'Edytuj',edit_product_sample_path(@product,sample)%></td>
        <td><%= link_to 'Pokaż',product_sample_sensory_analyses_path(@product,sample)%></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

