
<h1><%= @product.name %> próbki</h1>

<table class="table">
  <thead>
    <tr>
      <%= render 'table_header_form' %>

    </tr>
  </thead>

  <tbody>
    <% @samples.each do |sample| %>
      <tr>
        <td><%= sample.additive.try(:name) %></td>
        <td><%= sample.amount %></td>
        <td><%= sample.temperature %></td>
        <td><%= link_to 'Pokaż',product_sample_sensory_analyses_path(@product,sample)%></td>
        <td><%= link_to 'Edytuj',edit_product_sample_path(@product,sample)%></td>
        <td><%= link_to 'Usuń',product_sample_path(@product,sample),method: :delete, data: { confirm: 'Are you sure?' } %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Zatwierdź', product_path(@product), class: "btn btn-success" %>

