<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @sample.amount %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @sample.temperature %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
