<%= form_for(@sensory_analysis, url: product_sample_sensory_analyses_path(@product,@sample))  do |f| %>
<% if @sensory_analysis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensory_analysis.errors.count, "error") %> prohibited this sensory_analysis from being saved:</h2>

      <ul>
      <% @sensory_analysis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
    <div class="field">
    <%= f.label :metric_id %><br>
    <%= f.text_field :metric_id %>
  </div>
  <div class="field">
    <%= f.label :repetition_id %><br>
    <%= f.text_field :repetition_id %>
  </div>
    <%= f.hidden_field :serie_id, value: @sensory_analysis.serie_id%>
    <%= f.hidden_field :repetition_id, value:  @sensory_analysis.repetition_id%>

 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
