<%samples = @product.samples_with_metric(definition.metric_id).distinct%>
<div class="panel panel-default">
<div class="panel-heading">
	<h3 class="panel-title"><%= definition.metric.name %></h3>
</div>
<div class="panel-body">
	<% if samples.count > 0 %>
		<table class='table'>
		
			<thead class='sensory_analysis'>
				<tr>
				<th></th>
					<% @product.samples_with_metric(definition.metric_id).distinct.each do |sample|%>
						<th><%=sample.additive.name+" "+sample.amount.to_s + "%" %></th>
					<%end%>
				</tr>
			</thead>
			<tbody>
			
				<%(1..definition.series).each do |serie|%>
					<%(1..definition.repetitions).each do |repetition| %>
						<tr>
						<%if repetition==1%>
							<td rowspan="<%= definition.repetitions%>">Seria <%=serie%></td>
						<%end%>
							
							<% @product.samples_with_metric(definition.metric_id).distinct.each do |sample|%>
								<td><%=sample.sensory_analyses.where("serie_id=? AND repetition_id=?",serie,repetition).first.try(:value)%></td>
							<%end%>
						</tr>
					<%end%>
				<%end%>	
			</tbody>
		</table>
	<%end%>
</div>
</div>

