<%samples = @product.samples_with_metric(definition.metric_id).distinct%>
<div class="panel panel-default">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    	<p class="navbar-text"><%= definition.metric.name.capitalize %></p>
    </div>

      <ul class="nav navbar-nav navbar-right">
		<li><%= link_to 'Edytuj Próbki', product_samples_path(@product) %></li>
      </ul>
    </div>
</nav>
<div class="panel-body">
	<% if samples.count > 0 %>
		<table class='table'>
		
			<thead class='sensory_analysis'>
				<tr>
				<th></th>
					<% samples.each do |sample|%>
						<th><%=sample.additive.name+" "+sample.amount.to_s + "%" %></th>
					<%end%>
				</tr>
			</thead>
			<tbody>
			
				<%(1..definition.series).each do |serie|%>
					<%(1..definition.repetitions).each do |repetition| %>
						<tr>
						<%if repetition==1%>
							<td rowspan="<%= definition.repetitions%>">Seria <%=serie%></td>
						<%end%>
							
							<% @product.samples_with_metric(definition.metric_id).distinct.each do |sample|%>
								<td><%=sample.sensory_analyses.where("serie_id=? AND repetition_id=? AND metric_id=?",serie,repetition,definition.metric_id).first.try(:value)%></td>
							<%end%>
						</tr>
					<%end%>
				<%end%>	
			</tbody>
		</table>
	<%end%>
</div>
</div>

