<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container-fluid">
  		<div class='navbar-header'>
    	<a href='/' class="navbar-brand"><span id='food'>Food</span>Base</a>
  		</div>
  		<div id="navbar" class="navbar-collapse collapse">
          <ul class='nav navbar-nav'>
            <li><%=link_to 'Home ', '/' %></li>
            <li><%=link_to 'Kontakt', '/' %></li>
            <li><%=link_to 'Aktualności', '/' %></li>
            <li><%=link_to 'Baza Danych', '/' %></li>
            <li><%=link_to 'Tutorial', '/' %></li>
          </ul>
          <ul  class="nav navbar-nav navbar-right">
            <li><a href="#">Logout!</a></li>
          </ul>
          
        </div>
	</nav>