
<table class='table table-bordered'>
<thead>
	<tr>
	<th>
	</th>	
	<%@metrics.each do |metric|%>
		<th metric="<%= metric.id %>">
			<%=link_to metric.name, controller: 'compare', action: 'show', metric: metric, competitors: @competitors.collect{|c| c.id}.to_json %>
		</th>

	<%end%>
	</tr>
</thead>
<tbody>
	<%@competitors.each do |c|%>
		<tr>
		<td>
			<%= c.name%>
		</td>
		<%@metrics.each do |m|%>
			<td  metric="<%= m.id %>"> 
				<% if c.metrics.include? m %>
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				<%else%>
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				<%end%>
			</td>
		<%end%>
		</tr>
	<%end%>
</tbody>
</table>

<!--<% content_for :javascript_includes do %>
  <%= javascript_include_tag "copmare_products.js" %>
<% end %>-->