<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<div id="charts"></div>
<%= javascript_include_tag 'charts/bar_compare.js' %>
<% if @competitors.count > 0 %>  
<table class='table table-bordered'>
<thead>
	<tr>
	<th>
	</th>	
	<%@metrics.each do |metric|%>
		<th metric="<%= metric.id %>" data_url="<%=url_for controller: 'compare', action: 'show',only_path: false, metric: metric, competitors_ids: @competitors.collect{|c| c.id}.to_json %>">
			<%= metric.name %>
		</th>

	<%end%>
	</tr>
</thead>
<tbody>
	<%@competitors.each do |c|%>
		<tr>
		<td>
			<%= c.name%>
		</td>
		<%@metrics.each do |m|%>
			<td  metric="<%= m.id %>"> 
				<% if c.metrics.include? m %>
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				<%else%>
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				<%end%>
			</td>
		<%end%>
		</tr>
	<%end%>
</tbody>
</table>
<%else%>
<strong>Nie wybrano żadnych eksperymentów do porównania</strong>
<%end%>
<button id="save">Save as Image</button>
<canvas style="display:none" height="500" width="960"></canvas>