<%= form_tag("/products", method: "get",class:"form-inline",:remote=>true) do %>
 <div class="form-group">
  <%= label_tag("Kategoria:") %>
  <%= collection_select(nil,:category_id, Category.all, :id, :name,{prompt: "Category"},class:"form-control") %> 
  </div>
   <div class="form-group">
  <%= label_tag("Składnik:") %>
  <%= collection_select(nil,:ingredient_id, Ingredient.all, :id, :name,{prompt: "Ingredient"},class:"form-control") %>
  </div>
  <%= submit_tag("Filtruj", class:"btn btn-default") %>
<% end %>