<%if product%>
 <tr data-link="<%= product_path(product) %>">
 		<td> 
  			<input type="checkbox" id=<%= product.id.to_s() %> >
		</td>
        <td> <%= product.category.try(:name)%></td>
        <td ><%= product.name %></td>  
        <td ><%= I18n.l product.created_at, :format => :short %></td>
        <td ><%= I18n.l product.updated_at, :format => :short %></td>
</tr>
<%end%>