
<div product-id="<%=params[:id]%>"class="panel panel-default">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    	<p class="navbar-text"><%=@product.name.titleize%></p>
    </div>
	<ul class="nav navbar-nav">
  	    <li><%= link_to ".xlsx", product_path(@product,format: "xlsx") %></li>
         <li><%= link_to ".pdf", product_path(@product,format: "pdf"), id: "pdf"%></li>

      </ul>
    
      <ul class="nav navbar-nav navbar-right">
		<li><%= link_to 'Edit', edit_product_path(@product) %></li>
  	    <li><%= link_to 'Back', products_path %></li>
      </ul>
    </div>
</nav>

<div class="panel-body">
<a href='<%=@product.article_url%>' rel="external" target="_blank"> <%=@product.article_url%></a>
    <p>
	  <strong>Opis:</strong>
  		<%= @product.description %>
	</p>

	
</div>
   

</div>
  <%= render partial: 'products/analyse_partials/recipe'%>

<%if @product.experiment_definitions%>  
<% @product.experiment_definitions.each do |definition| %>

  <%= render partial: 'products/analyse_partials/metric', locals: { definition: definition } %>
<% end %>
<%end%>

<%if @charts %>
<% @charts.each do |chart| %>

<%=image_tag(chart)%>
<%end%>
<%end%>